{% extends "base.html" %}

{% block head %}
    <title>Станция "Красный Феникс"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'libs/flipclock/flipclock.css') }}">
{% endblock head %}


{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        Здравствуйте, {{ character_name }}.
        <a href="{{ url_for('game.character_settings') }}" class="nav-link mr-sm-2">Изменить имя</a>
    </nav>
    <br>

    <div class="container bg-light">
        <h2 class="text-center">Радиорубка</h2>
    </div>

    <div class="d-flex p-2 justify-content-center">
        <div class="card text-center">
            <div class="card-header">Время до конца...</div>
            <div class="card-body justify-content-center">
                <div class="clock"></div>
            </div>
        </div>
    </div>

    <div class="d-flex p-2 justify-content-center">
        <div class="card text-center">
            <div class="card-header">Навигация</div>
            <div class="card-body justify-content-center">
                <a class="btn btn-primary" href="{{ url_for('game.bunker_hall') }}" role="button">Выйти из комнаты</a>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header text-center">Передатчик</div>
            <div class="card-body justify-content-center">
                <textarea class="form-control" rows="10" id="transmitter-display" readonly></textarea>

                <div class="input-group" id="radio_input_group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Сообщение:</span>
                    </div>
                    <input type="text" class="form-control" id="transmitter-input">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="transmitter-send-btn" >Отправить</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}


{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/flipclock/flipclock.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/reconnecting-websocket.min.js') }}"></script>
    <script>
        var clock;
        var timeoutId;
        var ring_one = new Audio("{{ url_for('static', filename = 'sounds/ring_one.mp3') }}");

        if (window.location.protocol == "https:") {
            var ws_scheme = "wss://";
        } else {
            var ws_scheme = "ws://";
        };


        const gameStateSocket = new ReconnectingWebSocket(ws_scheme + window.location.host + "/ws/game/state");
        const gameCommandSocket = new ReconnectingWebSocket(ws_scheme + window.location.host + "/ws/game/command");

        gameStateSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (typeof(data.type) != "undefined") {
                if (data.type == 'game_state') {
                    clock.setTime(data.time);
                    if (data.timer_run) {
                        clock.start();
                        backgroundAction();
                    }
                    else {
                        clock.stop();
                        clearTimeout(timeoutId);
                    };
                } else if (data.type == 'radio_message') {
                    var transmitter_display = document.querySelector('#transmitter-display');
                    transmitter_display.value += (data.message + '\n');
                    transmitter_display.scrollTop = transmitter_display.scrollHeight;
                } else if (data.type == 'clear_game') {
                    var transmitter_display = document.querySelector('#transmitter-display');
                    transmitter_display.value = '';
                };;
            };
        };

        gameStateSocket.onclose = function(e) {
            console.log('gameStateSocket closed');
            this.gameStateSocket = new WebSocket(gameStateSocket.url);
        };

        gameCommandSocket.onclose = function(e) {
            console.log('gameCommandSocket closed');
            this.gameCommandSocket = new WebSocket(gameCommandSocket.url);
        };


        $(document).ready(function() {
            clock = $(".clock").FlipClock({
                clockFace : "MinuteCounter",
                autoStart : false,
                countdown : true,
                language : "Russian",
            });
            clock.setTime({{ time }});
            {% if timer_run %}
            clock.start();
            backgroundAction();
            {% endif %}
            document.querySelector('#transmitter-display').value = '{{ transmitter_history }}'
        });


        function backgroundAction() {
            clearTimeout(timeoutId);
            time = clock.getTime()
            if (time > 60) {
                timeoutMs = 1000 * (time - 60);
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 40) {
                timeoutMs = 1000 * (time - 5*Math.floor((time - 1)/5));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 20) {
                timeoutMs = 1000 * (time - 4*Math.floor((time - 1)/4));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 10) {
                timeoutMs = 1000 * (time - 2*Math.floor((time - 1)/2));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 0) {
                timeoutMs = 1000 * (time - Math.floor((time - 1)));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            }

            if (time <= 60 && time >= 0) {
                ring_one.play();
            }
        };

        document.querySelector('#transmitter-send-btn').onclick = function(e) {
            const messageInputDom = document.querySelector('#transmitter-input');
            message = "{{ character_name }}:" + messageInputDom.value;
            gameCommandSocket.send(JSON.stringify({'radio_send': message}));
            messageInputDom.value = '';
        };
    </script>
{% endblock javascript%}
