{% extends "base.html" %}

{% block head %}
    <title>Станция "Красный Феникс"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'libs/flipclock/flipclock.css') }}">
{% endblock head %}


{% block content %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/game/bunker_hall/">Бункер</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/game/terminal">Терминал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/game/admin/">Админка</a>
                    </li>
                </ul>
          </div>
      </nav>
    <br>

    <div class="d-flex p-2 justify-content-center">
        <div class="card text-center">
            <div class="card-header">Время до конца...</div>
            <div class="card-body justify-content-center">
                <div class="clock"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck">
            <div class="card text-center">
                <div class="card-header text-center">Управление таймером</div>
                <div class="d-flex flex-wrap justify-content-center">
                    <button type="button" class="btn btn-secondary m-1" id="game-start-btn">Запуск</button>
                    <button type="button" class="btn btn-secondary m-1" id="game-pause-btn">Пауза</button>
                    <button type="button" class="btn btn-secondary m-1" id="game-stop-btn">Остановить (обнулить)</button>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header text-center">Код терминала</div>
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-center">
                    <h4 class="label m-1">{{ secret_code }}</h4>
                    <a class="btn btn-outline-secondary" role="button" href="/game/secret-code">Изменить</a>
                    </div>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header text-center">Очистка истории игры</div>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="d-flex p-3">
                        <button type="button" class="btn btn-secondary" id="clear-game-btn">Очистить игру</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="card-deck">
            <div class="card text-center">
                <div class="card-header text-center">Терминал</div>
                <div class="card-body justify-content-center">
                    <textarea class="form-control" rows="10" id="terminal-display" readonly></textarea>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header text-center">Передатчик</div>
                <div class="card-body justify-content-center">
                    <textarea class="form-control" rows="10" id="radio-display" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}


{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/flipclock/flipclock.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/reconnecting-websocket.min.js') }}"></script>
    <script>
        var clock;
        var timeoutId;
        var ring_one = new Audio("{{ url_for('static', filename = 'sounds/ring_one.mp3') }}");
        var terminal_history = {{ terminal_history | safe }};
        var radio_history = {{ radio_history | safe }};
        {% if timer_run %}
        var timer_run = true;
        {% else %}
        var timer_run = false;
        {% endif %}

        if (window.location.protocol == "https:") {
            var ws_scheme = "wss://";
        } else {
            var ws_scheme = "ws://";
        };

        function terminal_append_message(data){
            var message_time = new Date(data.time);
            var time_string =
                ("0" + message_time.getHours()).slice(-2) + ':' +
                ("0" + message_time.getMinutes()).slice(-2) + ':' +
                ("0" + message_time.getSeconds()).slice(-2);
            var message = time_string + ' ' + data.message + '\n';

            var terminal_display = document.querySelector('#terminal-display');
            terminal_display.value += message;
            terminal_display.scrollTop = terminal_display.scrollHeight;
        }

        function radio_append_message(data){
            var message_time = new Date(data.time);
            var time_string =
                ("0" + message_time.getHours()).slice(-2) + ':' +
                ("0" + message_time.getMinutes()).slice(-2) + ':' +
                ("0" + message_time.getSeconds()).slice(-2);
            var message = time_string + ' ' + data.message + '\n';

            var radio_display = document.querySelector('#radio-display');
            radio_display.value += message;
            radio_display.scrollTop = radio_display.scrollHeight;
        }


        const gameStateSocket = new ReconnectingWebSocket(ws_scheme + window.location.host + "/ws/game/state");
        const gameCommandSocket = new ReconnectingWebSocket(ws_scheme + window.location.host + "/ws/game/command");

        gameStateSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (typeof(data.type) != "undefined") {
                if (data.type == 'game_state') {
                    clock.setTime(data.time);
                    if (data.timer_run) {
                        clock.start();
                        backgroundAction();
                        timer_run = true;
                    }
                    else {
                        clock.stop();
                        clearTimeout(timeoutId);
                        timer_run = false;
                    };
                } else if (data.type == 'terminal_display') {
                    terminal_append_message(data);
                } else if (data.type == 'radio_message') {
                    radio_append_message(data);
                } else if (data.type == 'clear_game') {
                    var terminal_display = document.querySelector('#terminal-display');
                    terminal_display.value = '';
                    var radio_display = document.querySelector('#radio-display');
                    radio_display.value = '';
                };
            };
        };

        gameStateSocket.onclose = function(e) {
            console.log('gameStateSocket closed');
            this.gameStateSocket = new WebSocket(gameStateSocket.url);
        };

        gameCommandSocket.onclose = function(e) {
            console.log('gameCommandSocket closed');
            this.gameCommandSocket = new WebSocket(gameCommandSocket.url);
        };

        document.querySelector('#game-start-btn').onclick = function(e) {
            gameCommandSocket.send(JSON.stringify({'command': 'start_game'}));
        };

        document.querySelector('#game-stop-btn').onclick = function(e) {
            gameCommandSocket.send(JSON.stringify({'command': 'stop_game'}));
        };

        document.querySelector('#game-pause-btn').onclick = function(e) {
            gameCommandSocket.send(JSON.stringify({'command': 'pause_game'}));
        };

        document.querySelector('#clear-game-btn').onclick = function(e) {
            gameCommandSocket.send(JSON.stringify({'command': 'clear_game'}));
        };



        $(document).ready(function() {
            clock = $(".clock").FlipClock({
                clockFace : "MinuteCounter",
                autoStart : false,
                countdown : true,
                language : "Russian",
            });
            clock.setTime({{ time }});
            {% if timer_run %}
            clock.start();
            backgroundAction();
            {% endif %}
            document.querySelector('#terminal-display').value = '';
            terminal_history.forEach(function(item) {terminal_append_message(JSON.parse(item))});
            document.querySelector('#radio-display').value = '';
            radio_history.forEach(function(item) {radio_append_message(JSON.parse(item))});
        })


        function backgroundAction() {
            clearTimeout(timeoutId);
            time = clock.getTime()
            if (time > 60) {
                timeoutMs = 1000 * (time - 60);
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 40) {
                timeoutMs = 1000 * (time - 5*Math.floor((time - 1)/5));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 20) {
                timeoutMs = 1000 * (time - 4*Math.floor((time - 1)/4));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 10) {
                timeoutMs = 1000 * (time - 2*Math.floor((time - 1)/2));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            } else if (time > 0) {
                timeoutMs = 1000 * (time - Math.floor((time - 1)));
                timeoutId = setTimeout(backgroundAction, timeoutMs);
            }

            if (time <= 60 && time >= 0) {
                ring_one.play();
            }
        };
    </script>
{% endblock javascript%}
